{% extends 'base.html.twig' %}

{% block title %} {{article.titre}} {% endblock %}

{% block body %}
<div class="album py-5 bg-light">
    <div class="container">


        <div class="col" >
          <div class="card shadow-sm">
            <img width="100%" height="100%" src={{article.image}} /><rect/>

            <div class="card-body">
            <h5 class="card-title">{{article.titre}}</h5>
                <p class="card-text">{{article.description}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  
                  {% if app.user == article.auteur %}
                  <form action= {{ path('delete_article', {"id" : article.id} )}}>
                    <button type="submit" class="btn btn-sm btn-outline-danger">Supprimer</button>
                    </form >
                    <form action= {{ path('modifier_article', {"id" : article.id} )}}>
                    <button type="submit" class="btn btn-sm btn-outline-info">Modifier</button>
                    </form >
                  {% endif %}
                  <small class="text-muted"> Publier le {{ article.createdAt|date('d/m/Y') }}</small>
              </div>
            </div>
          
        </div>

        </div>
    </div>
</div>
{{ form_start(form) }}
  <div class="card-body shadow-sm">
    <div class="from-groupe">
      Commentaire
      {{form_widget(form.contenu)}}
    </div>
    <button class="btn btn-sm btn-outline-success">Valider</button>
  </div>
{{ form_end(form) }}
{% for commentaire in commentaires %}
  <div class="card-body shadow-sm">
            <h5 class="card-title">Par {{commentaire.auteur.prenom}} {{commentaire.auteur.nom}}</h5>
                <p class="card-text">{{commentaire.contenu}}</p>
                <div class="d-flex justify-content-between align-items-center">

                  {% if app.user == commentaire.auteur  %}
                  <form action={{ path('delete_commentaire', {"id" : commentaire.id} )}}>
                    <button type="submit" class="btn btn-sm btn-outline-danger">Supprimer</button>
                  </form >
                  {% elseif app.user == article.auteur %}
                  <form action={{ path('delete_commentaire', {"id" : commentaire.id} )}}>
                    <button type="submit" class="btn btn-sm btn-outline-danger">Supprimer</button>
                  </form >
                  {% endif %}

                  <small class="text-muted"> Publier le {{ commentaire.createdAt|date('d/m/Y') }}</small>
              </div>
  </div>
{% endfor %}

{% endblock %}
